body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg--image) center / cover no-repeat fixed;
    background-position: center 35%;
    opacity: 0.8; 
    z-index: -1; /* Mantém a imagem no fundo */
}

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: white;
    background-color: var(--letters--color);
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.back-btn:hover {
    background-color: var(--letters--color);
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    white-space: nowrap;
    font-size: clamp(4rem, 8vw, 8rem);
    min-height: 12vh;
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: clamp(50px, 10vw, 100px);
    height: auto;
    mix-blend-mode: lighten;
}


header h1 {
    font-weight: 900;
    font-size: clamp(2rem, 10vw, 6rem);
    color:  var(--letters--color);
    margin: 0;
    white-space: nowrap;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 30%;
    max-width: 800px;
    justify-content: center; /* Centraliza os itens no eixo horizontal */
    align-items: center; /* Centraliza no eixo vertical */
    margin: auto; /* Centraliza o grid na tela */
    padding: 2rem 0;
    
}



.cards .card {
    perspective: 1000px;
    width: 7rem;
    height: 8.6rem;
    box-sizing: border-box;
}

.cards .card .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.cards .card .card-inner .card-front,
.card-back {
    position: absolute;
    width: 100%;  /* Garante que tenham o mesmo tamanho */
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.cards .card .card-inner .card-front img,
.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Evita distorção das imagens */
}

.cards .card .card-inner .card-back {
    transform: rotateY(180deg);
}


 .flipped {
    transform: rotateY(180deg);
}


